body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.1em;
  color: #dedede;
}
.bar ul {
    display: inline-flex;
}
.bar li:hover {
    background-color: #1aaae9 !important;
}
nav {
  background-image: linear-gradient(to right, rgb(1, 73, 73) 20%, black);
}
