body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.1em;
  color: #dedede;
}
.bar ul {
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
 //   background-color: #333;
}
.li{
    float: left;
}
.bar li:hover {
    background-color: #1aaae9 !important;
}
nav {
  background-image: linear-gradient(to right, rgb(1, 73, 73) 20%, black);
}
